
<div class="row">
    <div>
        <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="panel-heading">
                <h3 class="panel-title">Пожалуйста, авторизуйтесь</h3>
                <a ui-sref="registration">Нет аккаунта? Зарегистрируйтесь!</a>
            </div>
            <div class="alert alert-danger" ng-show="$ctrl.error">
                <strong>Ошибка!</strong>{{$ctrl.textError}}
            </div>
            <div class="alert alert-info" ng-show="$ctrl.messageSent">
                <strong>Вам отправлено письмо для верификации</strong>
            </div>
            <div class="control-group">
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Логин" name="login" type="text" ng-model="$ctrl.login" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Пароль" name="password" type="password" value="" ng-model="$ctrl.password" required>
                        </div>
                        <div class="checkbox">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти" ng-click="$ctrl.log()">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>