<div class = "filter">
    <div calss = "row">
        <div class="row">
            <div class="col-md-6">
                <h5>Начальная:</h5>
                <select style="max-width: 150px;" ng-model = "$ctrl.rootScope.startPoint" placeholder="Выберете остановку">
                    <option ng-repeat="startPoint in $ctrl.stations" style="max-height: 200px; overflow: auto;">{{startPoint.nameStation}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <h5>Конечная:</h5>
                <select style="max-width: 150px;"  ng-model = "$ctrl.rootScope.endPoint" placeholder="Выберете остановку">
                    <option ng-repeat="endPoint in $ctrl.stations" style="max-height: 200px; overflow: auto;" ng-click="$ctrl.selectEndPoint(endPoint.nameStation)">{{endPoint.nameStation}}</option>
                </select>
            </div>
        </div>

        <div class = "row">
            <div class="col-md-5">filter3</div>
        </div>

        <button class="btn-primary" ng-click="$ctrl.searchRoute()">Найти</button>
    </div>
</div>
