.dateStyle{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;

    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-right: 20px;
    position: relative;
}

.checkIsUserMarker{
    padding: 12px 12px;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 2px;
}
.slider-background{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    /*opacity: 0.9;*/
}